body {
    margin: 1%;
    background-color: rgb(0, 33, 45);
    font-family:Arial, Helvetica, sans-serif;
    }
header{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding-right:5% ;
    height: 60%;
    align-items: center;
    margin: 0px 0px;
    color: white;
    padding: 10px 15px;
    
}
strong{
    color:rgb(0, 157, 224) ;
}

header nav ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
      
}
header a{
    padding: 10px;
    margin-right: 20px;
    color: white;  
    text-decoration: none;
    display: flex;
    flex-direction:row-reverse;
}

main{
    background-color: white;
    border: 1px solid white;
}
main section.banner{
    margin-top: 500px;
    background-image:url(./img/surf.png);
    background-repeat: no-repeat;
    background-position: top center ;
    background-size:cover;
    display: flex;
    flex-direction: column;
    margin: 3% 3%;
    margin-top: 5%;
    padding: 10% 0;    
    color: white;
}
main section.banner h1{
    font-size: xx-large;
    margin-left: 10%;
    text-align:left;
    margin-bottom: 0;
}
main section.banner p{
    font-size:small;
    margin-top: 0;
    margin-left: 10%;
    margin-right: 70%;
    text-align:left;

}
main section.portfolio{
    display: flex;
    flex-direction: row;
    margin: 0 2%;
}
.box {
    display:block;
    background-color: rgb(0, 108, 159); 
    color: white;   
    padding: 1% 1%;
    margin: 10px;
  }


main section button{
    background-color:rgb(76, 189, 241); /* Cor de fundo azul, você pode trocar pela cor desejada */
    color: white; /* Cor do texto dentro do botão */
    border: none; /* Remove a borda do botão */
    padding: 10px; /* Espaçamento interno do botão (topo/baixo, esquerda/direita) */
    margin-left: 1px;
    margin-bottom: 1px;
    text-align: center; /* Alinha o texto no centro */
    text-decoration: none; /* Remove a sublinhado padrão do link */
    display: flex; /* Permite ajustar largura e altura */
    flex-direction: row;
    font-size:14px;
    justify-content: space-between;
    cursor: pointer; 
}
main section button:hover {
    background-color: #0d3753; /* Cor de fundo ao passar o mouse sobre o botão */
  }
section.testimonials{
    display: flex;
    flex-direction: row;
    padding: 1% 1%;
    margin: 10px;

}

.testimonials article{
    display: block;
    margin-left: 3% ;
}
.testimonials article.comments_ img{
    width: 500px;
}
.testimonials article.comments_ p{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10%;
    margin-top: -24%;
    padding: 1% 29%;
    text-align: center;

}


article .comments{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60%;
    text-align: left;
    direction: unset;
    padding-left: 0%;
    margin-left: 20%;

}

.comments blockquote{
    background-color:rgb(191, 238, 255);
    margin-right: 50%;
    margin-left: 0%; 
    border: 30px solid rgb(191, 238, 255);
    width: 200px;
}

main nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color:  rgb(191, 238, 255);
}
main nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: white;
    
}
main nav ul a{
    padding: 10px;
    margin: 0 20px;
    text-align: center;
    color:#0d3753;  
    text-decoration: none;
    display: flex;
    flex-direction:row-reverse;

}

footer{
    display: flex;
    flex-direction: row;
    width: 500px;
}
footer ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 5px 5px; 
    margin-top: 2rem;
    text-decoration: none;
    
}
footer ul li a i{
    color: white;
    text-decoration: none;
    padding-left: 2rem;

}